<mat-toolbar color="primary">Froot Snacks</mat-toolbar>

<div class="body-margin">
  <div>
    <p>Tracy hates orange froot snacks. She saves her leftover froot snacks for Jay. 
    </p>
    <p>
      Help Igor, Ben, Seb, and Tracy feed Giant Jay Tracy's reject froot snacks.
    </p>
  </div>

  <div>
    <img src="./assets/img/froot_snack.png" alt="" class="draggable">
  </div>
  <div>
    <img src="./assets/img/froot_snack.png" alt="" class="draggable">
  </div>

  <div>
    <img src="./assets/img/jay_the_froot_snack_eater.jpeg" alt="">

    <img src="./assets/img/flying_igor_froot_snack.jpg" alt="">
  </div>

  <app-increment></app-increment>
  
  <p>You have fed Jay ___ froot snacks.</p>

</div>