@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Roboto', sans-serif;
}

#froot-snack {
  width: 100px;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
}

#jay:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
