@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.body-margin {
  margin: 50px;
}

.draggable {
  width: 60px;
  right: 455px;
  top: 358px;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
}

.draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
